<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body class="bg-light">
  	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <nav class="my-2 my-md-0 mr-md-3">
      		<a href="{% url 'home' %}">Quote Calculator</a>
      		<a class="p-2 text-dark" href="{% url 'calculateQuote' %}">Get a Quote</a>	
        </nav>
    </div>

    <div class="container">
        <div class="col-md-9 order-md-3">
          <h4>Address</h4>	
          <form action="{% url 'calculate_rate' %}">
          	<div class="mb-3">
                <label for="firstName">Address</label>
                <input type="text" class="form-control" name="address">
            </div>

            <hr class="mb-4">
            <h4> Rent Roll</h4>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="lastName">Monthly Rent</label>
                <input type="text" class="form-control" name="monthly_rent">
              </div>
              <div class="col-md-3 mb-3">
              	<label for="username">Unit Number</label>
	            <input type="text" class="form-control" name="unit_number">
              </div>
              <div class="col-md-3 mb-3">
	               <label for="email">Vacancy</label>
	               <input type="text" class="form-control" name="vacancy">
	            </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="address">Bedrooms</label>
                    <input type="text" class="form-control" name="bedrooms">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="address">Bathrooms</label>
                    <input type="text" class="form-control" name="bedrooms">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="address">Annual Total</label>
                    <input type="text" class="form-control" name="bedrooms">
                </div>
            </div>
            
            <hr class="mb-4">
            <h4>Expense Items</h4>
            <div class="row">
	            <div class="col-md-3 mb-3">
	              <label for="address">Marketing</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>

	            <div class="col-md-3 mb-3">
	              <label for="address">Taxes</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>

	            <div class="col-md-3 mb-3">
	              <label for="address">Insurance</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>

	            <div class="col-md-3 mb-3">
	              <label for="address">Repairs</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>
	        </div>    
            <div class="row">
	            <div class="col-md-3 mb-3">
	              <label for="address">Administration</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>

	            <div class="col-md-3 mb-3">
	              <label for="address">Payroll</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>

	            <div class="col-md-3 mb-3">
	              <label for="address">Utility</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>

	            <div class="col-md-3 mb-3">
	              <label for="address">Management</label>
	              <input type="text" class="form-control" name="bedrooms">
	            </div>
            </div>

            <hr class="mb-4">
	        <div class="mb-3">
	            <label for="address">Capital Rate</label>
	            <input type="text" class="form-control" name="bedrooms">
	        </div>
            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Get Rate!</button>
          </form>
        </div>
      </div>

      <footer class="pt-5 text-muted text-center text-small">
        <p>© Radesh Shiwlochan 2018</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


